<!--
  File Name: error.ejs
  Author Name: Sravan Kumar Konudula
  Student Id: 301237930
  Web App Name: Favourite Car List
-->

<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
