<!--
  File Name: add.ejs
  Author Name: Sravan Kumar Konudula
  Student Id: 301237930
  Web App Name: Favourite Car List
-->

<% include ../partials/header.ejs %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<!-- Content  for the add page -->
<div class="container">
  <div class="row">
    <div class="offset-md-3 col-md-6">
      <h1><%=title %></h1>

      <form class="form" method="post">
        <div class="from-group">
          <label for="nameTextField">Car Name</label>
          <input
            type="text"
            class="form-control"
            id="nameTextField"
            placeholder="Enter the Car Name:"
            name="name"
            required
          />
        </div>

        <div class="from-group">
          <label for="categoryTextField">Car Category</label>
          <input
            type="text"
            class="form-control"
            id="categoryTextField"
            placeholder="Enter the Car Category:"
            name="category"
            required
          />
        </div>

        <div class="from-group">
          <label for="modelTextField">Car Model</label>
          <input
            type="text"
            class="form-control"
            id="modelTextField"
            placeholder="Enter the Car Model:"
            name="model"
            required
          />
        </div>

        <div class="from-group">
          <label for="priceTextField">Price</label>
          <input
            type="number"
            class="form-control"
            id="priceTextField"
            placeholder="Enter the Price of Car:"
            name="price"
            required
          />
        </div>

        <button class="btn btn-primary" type="submit">
          <i class="fas fa-edit"></i>Submit
        </button>

        <a href="/cars" class="btn btn-warning">
          <i class="fas fa-undo"></i>Cancel
        </a>
      </form>
    </div>
  </div>
</div>


<% include ../partials/footer.ejs %>
